!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#13376d')
    meta(property='og:site_name' content='Peepsgen')
    meta(property='og:title' content='Peepsgen: The openpeeps generator')
    meta(property='og:description' content='Generate SVG people from openpeeps resource')
    meta(name='Description' content='Generate SVG people from openpeeps resource')
    meta(property='og:image' content='/assets/site/image.png')
    meta(property='og:url' content='https://peepsgen.netlify.app')
    meta(property='og:type' content='app')
    link(rel='icon' href='/assets/site/icon.png')
    link(rel='apple-touch-icon' href='/assets/site/apple_icon.png')s
    link(rel='stylesheet' type='text/css' href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css")
    link(rel='stylesheet' type='text/css' href="/assets/css/fa-all.css")
    title Peepsgen
  body.bg-blue
    #app
    script(src="https://unpkg.com/mithril/mithril.js")
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js")
    script(src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js")
    script(src="/assets/js/app.js" type='module')
  
